.statusButton
{
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: auto;
  background-color: rgba(0,0,0,0);
  border: 0;
  width: 100%;
  vertical-align: top;
  transition: background-color 0.1s ease-in-out;
}

.statusButton:hover .actionTooltip
{
    visibility: visible;
}

.statusButton:hover
{
  background-color: #2c2b2b5a;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.clock
{
  
}

.clockText
{
  color: #b1b1b0;
  width: auto;
  font-family: SegoeSBold;
  display: flex;
  font-size: 14px;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
  justify-content: flex-end;
}

.statusDiv
{
  width: 72px;
  height: 50px;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.statusIcons
{
  margin-bottom: 0px;
  margin-top: 30px;
}