.statusButton {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 76px;
  height: 50px;
  vertical-align: top;
  transition: background-color 0.1s ease-in-out;
}

.statusButton:hover {
  background-color: #2c2b2b5a;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.clockText {
  color: #b1b1b0;
  width: auto;
  font-family: SegoeSBold;
  display: flex;
  justify-content: flex-end;
  margin-right: -40px;
  margin-top: 4px;
  margin-left: 300px;
}

.statusDiv {
  width: 72px;
  height: 50px;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.statusIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 76px;
  margin-bottom: 0px;
  margin-right: -10px;
}

.wifiIcon {
  color: #b1b1b0;
  font-family: SegoeMDL2;
  font-size: 14px;
  margin-bottom: -1px;
}

.batteryIcon {
  color: #b1b1b0;
  font-family: SegoeMDL2;
  font-size: 32px;
  scale: calc(68%);
  margin-right: 8px;
  margin-bottom: -4px;
}
