@font-face {
    font-family: SegoeReg;
    src: url(/public/fonts/segoe_ui.ttf);
}

@font-face {
    font-family: SegoeBold;
    src: url(/public/fonts/segoe_bold.ttf);
}

@font-face {
    font-family: SegoeSBold;
    src: url(/public/fonts/segoe_semibold.ttf);
}

@font-face {
    font-family: FluentFill;
    src: url(/public/fonts/fluent_filled.ttf);
}

@font-face {
    font-family: FluentReg;
    src: url(/public/fonts/fluent_regular.ttf);
}