.desktop {
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x:hidden;
  overflow-y: hidden;
  background-image: url(https://burst.shopifycdn.com/photos/abstract-background-of-four-colored-triangles.jpg?width=1200&format=pjpg&exif=1&iptc=1);
}
.bar {
  background-color: #0000007d;
  overflow-x:hidden;
  overflow-y: hidden;
  height: 50px;
  position: absolute;
  bottom:0;
  width: calc(100%);
  color: rgba(0,0,0,0.8);
  backdrop-filter: blur(90px) brightness(90%);
  background-blend-mode: darken;
  align-items: center;
}

.container
{
  overflow-x:hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}
