#bar{
  position: fixed; 
  max-height: 50px;
  min-height: 50px;
  background:black;
  opacity: calc(0.4);
  width:100%;
  bottom:0;
}

#wallpaper
{
  scroll-behavior: unset;
}

.wallpaper-image
{
  position: fixed;
  height: stretch;
  width: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}